*{ margin:0px; padding:0px; font:12px;}
.top{ width:1240px; height:60px; background:url(../mainimage/top.jpg) repeat-x; padding-top:30px; padding-left:100px; margin-left:7px;}
.top font{ font-size:28px; color:#FFFFFF;}
.top span{ color:#FFFFFF; font-size:12px; padding-left:100px;}
#left_1{ background:url(../mainimage/left.jpg) repeat-x; margin-top:30px; margin-left:7px; margin-right:10px;}
#left_2{ background:url(../mainimage/left.jpg) repeat-x; margin-top:30px;margin-left:7px; margin-right:10px;}
#left_3{ background:url(../mainimage/left.jpg) repeat-x; margin-top:30px;margin-left:7px; margin-right:10px;}
#left_4{ background:url(../mainimage/left.jpg) repeat-x; margin-top:30px;margin-left:7px; margin-right:10px;}
a{ text-align:center; text-decoration:none;padding-left:50px; color:#FFFFFF; font-size:18px;}

.bar{ background:url(../mainimage/middle.jpg) repeat-y; height:700px;}
